[submodule "blink"]
	path = blink
	url = ssh://git@github.com/blacker-hovse/blink
[submodule "limbo"]
	path = limbo
	url = ssh://git@github.com/blacker-hovse/limbo
[submodule "quotes"]
	path = quotes
	url = ssh://git@github.com/deeptoaster/hell-quotes
[submodule "nearer"]
	path = nearer
	url = ssh://git@github.com/blacker-hovse/nearer
[submodule "rigger"]
	path = rigger
	url = ssh://git@github.com/blacker-hovse/rigger
[submodule "sucker/rigger"]
	path = sucker/rigger
	url = ssh://git@github.com/blacker-hovse/rigger-admin
[submodule "hovselist"]
	path = hovselist
	url = ssh://git@github.com/blacker-hovse/hovselist
[submodule "sucker/hovselist"]
	path = sucker/hovselist
	url = ssh://git@github.com/blacker-hovse/hovselist-admin
